node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

# front-app ignore
front-app/node_modules
front-app/*.log*
front-app/.nuxt
front-app/.nitro
front-app/.cache
front-app/.output
front-app/.env
front-app/dist